html.light
  --chakra-colors-bg white
  --chakra-colors-text black
  --chakra-colors-accent #33d433
  --chakra-colors-hover #2ca82a
  --chakra-colors-active #248224

html.dark {
  --chakra-colors-bg #1a202c
  --chakra-colors-text white
  --chakra-colors-accent #66e766
  --chakra-colors-hover #57d157
  --chakra-colors-active #4bb34b
}
body {
  background-color: var(--chakra-colors-bg);
  color: var(--chakra-colors-text);
}